<h1><%= @play.title %></h1>
<h4><%= @play.category.name %></h4>
<p><%= @play.description %></p>
<h4><%= @play.director %></h4>


<div class="links btn-group">
    <% if user_signed_in? %>
        <% if @play.user.id == current_user.id %>
            <%= link_to 'Edit', edit_play_path(@play) %>
            <%= link_to 'Delete', play_path(@play), method: :delete, data: { confirm: 'Are you sure?'} %>
        <% end %>
    <% end %>
</div>
